<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add
      name="SynergiCompetitor"
      connectionString="data source=YourComputerName\SQL2008R2InstanceName; initial catalog=SynergiComp; User ID=synergiuser; Password=synergipassword"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <authentication
        mode="Forms">
      <forms
          name=".synergiCompetitor"
          loginUrl="Login.aspx"
          protection="All"
          path="/"
          timeout="90" />
    </authentication>
    <authorization>
      <deny
          users="?" />
      <allow
          users="*" />
    </authorization>
    <compilation debug="true" targetFramework="4.0" />

    <membership defaultProvider="MembershipProvider">
      <providers>
        <clear />
        <add
            name="MembershipProvider"
            type="System.Web.Security.SqlMembershipProvider"
            connectionStringName="SynergiCompetitor"
            applicationName="/"
            enablePasswordRetrieval="false"
            enablePasswordReset="true"
            requiresQuestionAndAnswer="false"
            requiresUniqueEmail="false"
            minRequiredPasswordLength="1"
            minRequiredNonalphanumericCharacters="0"
            passwordFormat="Hashed"
            maxInvalidPasswordAttempts="5"
            passwordAttemptWindow="10"
            passwordStrengthRegularExpression="" />
        <add
            name="MembershipProviderReset"
            type="System.Web.Security.SqlMembershipProvider"
            connectionStringName="SynergiCompetitor"
            applicationName="/"
            enablePasswordRetrieval="false"
            enablePasswordReset="true"
            maxInvalidPasswordAttempts="3"
            minRequiredNonalphanumericCharacters="0"
            minRequiredPasswordLength="6"
            requiresQuestionAndAnswer="false"
            requiresUniqueEmail="false"
            passwordFormat="Hashed" />

      </providers>
    </membership>
  </system.web>
  <location
      path="clientaccesspolicy.xml">
    <system.web>
      <authorization>
        <allow
            users="?" />
      </authorization>
    </system.web>
  </location>
  <location
      path="crossdomain.xml">
    <system.web>
      <authorization>
        <allow
            users="?" />
      </authorization>
    </system.web>
  </location>
  <location
      path="AuthenticationService.svc">
    <system.web>
      <authorization>
        <allow
            users="?" />
      </authorization>
    </system.web>
  </location>
  
  <!-- Will delete after integrating with Authentication -->
  <location
      path="SettingService.svc">
    <system.web>
      <authorization>
        <allow
            users="?" />
      </authorization>
    </system.web>
  </location>
  <location
      path="CollectorService.svc">
    <system.web>
      <authorization>
        <allow
            users="?" />
      </authorization>
    </system.web>
  </location>
  
  
  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding
                    name="HttpBindingWithTimeouts"
                    bypassProxyOnLocal="true"
                    maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647"
                    useDefaultWebProxy="false"
                    openTimeout="00:10:00"
                    closeTimeout="00:10:00"
                    sendTimeout="00:10:00"
                    receiveTimeout="00:10:00">
                    <readerQuotas
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" />
		                <security mode="None" />
                </binding>
            </basicHttpBinding>
	</bindings>
    <behaviors>
      <serviceBehaviors>
                <behavior
                    name="ServicesBehavior">
                    <serviceMetadata
                        httpGetEnabled="true" />
                    <serviceDebug
                        includeExceptionDetailInFaults="true" />
                    <dataContractSerializer
                        maxItemsInObjectGraph="2147483647" />
                </behavior>
      </serviceBehaviors>
    </behaviors>
        <services>
            <service
                behaviorConfiguration="ServicesBehavior"
                name="SettingService">
                <endpoint
                    address=""
                    binding="basicHttpBinding"
                    bindingConfiguration="HttpBindingWithTimeouts"
                    contract="SettingService" />
                <endpoint
                    address="mex"
                    binding="mexHttpBinding"
                    contract="IMetadataExchange" />
            </service>
            <service
                behaviorConfiguration="ServicesBehavior"
                name="CollectorService">
                <endpoint
                    address=""
                    binding="basicHttpBinding"
                    bindingConfiguration="HttpBindingWithTimeouts"
                    contract="CollectorService" />
                <endpoint
                    address="mex"
                    binding="mexHttpBinding"
                    contract="IMetadataExchange" />
            </service>
            <service
                behaviorConfiguration="ServicesBehavior"
                name="AuthenticationService">
                <endpoint
                    address=""
                    binding="basicHttpBinding"
                    bindingConfiguration="HttpBindingWithTimeouts"
                    contract="AuthenticationService" />
                <endpoint
                    address="mex"
                    binding="mexHttpBinding"
                    contract="IMetadataExchange" />
            </service>
	</services>
    <serviceHostingEnvironment
        aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
