<?xml version="1.0"?>
<configuration>
  <configSections>
    <section
        name="loggingConfiguration"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        requirePermission="true" />
  </configSections>

  <loggingConfiguration
    name=""
    tracingEnabled="true"
    defaultCategory="default">
    <listeners>
      <add
        name="Event Log Listener"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        source="Enterprise Library Logging"
        formatter="Text Formatter"
        log=""
        machineName="."
        traceOutputOptions="None" />
      <add
        name="Rolling Flat File Trace Listener"
        fileName="..\Logs\SynergiTraceDEV.log"
        rollSizeKB="1024"
        timeStampPattern="dd-MMM-yyyy HH:mm:ss"
        rollFileExistsBehavior="Increment"
        rollInterval="Month"
        formatter="Text Formatter"
        header="------------------START----------------------"
        footer="------------------END------------------------"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </listeners>
    <formatters>
      <add
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="DEV Timestamp: {timestamp(dd-MMM-yyyy HH:mm:ss)}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title: {title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add
        switchValue="All"
        name="default">
        <listeners>
          <add
            name="Event Log Listener" />
          <add
            name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents
        switchValue="All"
        name="All Events" />
      <notProcessed
        switchValue="All"
        name="Unprocessed Category" />
      <errors
        switchValue="All"
        name="Logging Errors &amp; Warnings">
        <listeners>
          <add
            name="Event Log Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>


  <connectionStrings>
    <clear />
    <!--<add name="TimeClock" connectionString="data source=ROCKCORP-VM-EM4; initial catalog=synergiDEV; User ID=ezySoftwareDEV; Password=ezySoftwareDEV" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TimeClock"
         connectionString="data source=ROCK-SQL02; initial catalog=TimeClock; User ID=timeclock; Password=t1m3cl0ck"
         providerName="System.Data.SqlClient" />-->
    <!--<add
            name="TimeClock"
            connectionString="data source=ROCK-SQL02; initial catalog=TimeClockDEMO; User ID=ezySoftwareDemoAdmin; Password=ezySoftwareDemoAdmin"
            providerName="System.Data.SqlClient" />-->
    <!--<add
        name="TimeClock"
        connectionString="data source=ROCK-SQL02; initial catalog=TimeClockDEV; User ID=synergiDEV; Password=synerg1Vn#" 
        providerName="System.Data.SqlClient" />-->
    <add name="TimeClock"
		    connectionString="data source=localhost; initial catalog=TimeClock; User ID=sa; Password=loveyou"
		    providerName="System.Data.SqlClient" />
    
    <!--<add name="TimeClock"
		    connectionString="data source=SON-PC\SQLSERVER2008R2; initial catalog=Synergi; User ID=sa; Password=123"
		    providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add
        key="EnableAutoLoginComplete"
        value="true" />
    <add
        key="CookiePersistanceInMinutes"
        value="30" />
    <add
        key="ListCacheDurationInSeconds"
        value="300" />
    <add
        key="RootUrl"
        value="" />
    <add
        key="ReportPath"
        value="/TimeClock/" />
    <add
        key="ReportServerUrl"
        value="http://localhost/ReportServer" />
    <add
        key="ReportUsername"
        value="ThanhHung" />
    <add
        key="ReportPassword"
        value="loveyou" />
    <add
        key="ReportDomain"
        value="ThanhHung-PC" />
    <add
        key="EzyRatesUrl"
        value="https://ezyrates.com/home.cfm" />
    <add
        key="ReportLocalization"
        value="&amp;rs:ParameterLanguage=en-AU" />
    <add
        key="DNNActive"
        value="false" />
    <add
        key="DNNConnectionString"
        value="data source=(local)\SQLEXPRESS; user id=sa; password=priority2; initial catalog=DotNetNuke2;" />
    <add
        key="DNNPortalID"
        value="0" />
    <!-- Portal Admin Organisation Code 
			Entering this code in the Organisation Code control will allow 
			access to the login controls and restrict entry to only Portal Admin users.	-->
    <add
        key="PortalAdminOrganisationCode"
        value="port001" />
    <!-- Prompt UserNames In Role
			A comma delimited string of roles to included in auto prompting username login dropdown.	-->
    <add
        key="AutoCompleteUserNamesInRole"
        value="General User, Department Manager" />
    <add
        key="PublicKeyFileName"
        value="~/synergi.pke" />
    <add
        key="PrivateKeyFileName"
        value="~/synergi.kez" />
    <add
        key="ExchangeServerUrl"
        value="https://rock-ex10.rockfordhotels.local/EWS/Exchange.asmx" />
    <add
        key="LayoutLevel"
        value="2" />
    <add
      key="ExpirationMinutes"
      value="240" />
    <add
        key="PickupYieldLevelDefault"
        value="false" />
    <add
        key="PMSSystemType"
        value="Protel" />
    <add
     key="DefaultTheme"
     value="BlackBlue" />
    <add
     key="MenuStyle"
     value="All" />
  </appSettings>
  <system.web>
    <!--        
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation
        debug="true"
        targetFramework="4.0">
      <assemblies>
        <add
            assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add
            assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add
            assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add
            assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add
            assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add
            assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add
            assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add
            assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add
            assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add
            assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add
            assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add
            assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add
            assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add
            assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add
            assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add
            assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add
            assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add
            assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add
            assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add
            extension=".rdlc"
            type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication
        mode="Forms">
      <forms
          name=".TimeClock"
          loginUrl="Logon.aspx"
          protection="All"
          path="/"
          timeout="90" />
    </authentication>
    <machineKey
        validationKey="7F84E42017F178ACE2C5879258FFC2368A2EA753"
        decryptionKey="8B4D2FD3CB075549D5CCF9859217C2E78D7E39D79EE23007"
        decryption="3DES"
        validation="SHA1" />
    <membership
        defaultProvider="CustomizedProvider">
      <providers>
        <clear />
        <add
            name="CustomizedProvider"
            type="System.Web.Security.SqlMembershipProvider"
            connectionStringName="TimeClock"
            applicationName="/"
            enablePasswordRetrieval="false"
            enablePasswordReset="true"
            requiresQuestionAndAnswer="true"
            requiresUniqueEmail="false"
            minRequiredPasswordLength="1"
            minRequiredNonalphanumericCharacters="0"
            passwordFormat="Hashed"
            maxInvalidPasswordAttempts="5"
            passwordAttemptWindow="10"
            passwordStrengthRegularExpression="" />
        <add
          name="SimpleProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="TimeClock"
             applicationName="/"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="false"
             minRequiredPasswordLength="1"
             minRequiredNonalphanumericCharacters="0"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager
        enabled="true"
        defaultProvider="CustomizedRoleProvider"
        cacheRolesInCookie="true"
        cookieName=".ASPROLES"
        cookieTimeout="30"
        cookiePath="/"
        cookieRequireSSL="false"
        cookieSlidingExpiration="true"
        cookieProtection="All">
      <providers>
        <clear />
        <add
            name="CustomizedRoleProvider"
            type="System.Web.Security.SqlRoleProvider"
            connectionStringName="TimeClock"
            applicationName="/" />
      </providers>
    </roleManager>
    <siteMap
        defaultProvider="XmlSiteMapProvider"
        enabled="true">
      <providers>
        <add
            name="XmlSiteMapProvider"
            description="Default SiteMap provider."
            type="System.Web.XmlSiteMapProvider"
            siteMapFile="~/SiteMaps/Web.sitemap"
            securityTrimmingEnabled="true" />
        <add
            name="EzyAwardXmlSiteMapProvider"
            description="EzyAward SiteMap provider."
            type="System.Web.XmlSiteMapProvider"
            siteMapFile="~/SiteMaps/EzyAward.sitemap"
            securityTrimmingEnabled="true" />
        <add
            name="EzyBudgetXmlSiteMapProvider"
            description="EzyBudget SiteMap provider."
            type="System.Web.XmlSiteMapProvider"
            siteMapFile="~/SiteMaps/EzyBudget.sitemap"
            securityTrimmingEnabled="true" />
        <add
            name="EzyEmployeeXmlSiteMapProvider"
            description="EzyEmployee SiteMap provider."
            type="System.Web.XmlSiteMapProvider"
            siteMapFile="~/SiteMaps/EzyEmployee.sitemap"
            securityTrimmingEnabled="true" />
        <add
            name="EzyTimecardXmlSiteMapProvider"
            description="EzyTimecard SiteMap provider."
            type="System.Web.XmlSiteMapProvider"
            siteMapFile="~/SiteMaps/EzyTimecard.sitemap"
            securityTrimmingEnabled="true" />
        <add
            name="EzyRosterXmlSiteMapProvider"
            description="EzyRoster SiteMap provider."
            type="System.Web.XmlSiteMapProvider"
            siteMapFile="~/SiteMaps/EzyRoster.sitemap"
            securityTrimmingEnabled="true" />
        <add
            name="EzyReportXmlSiteMapProvider"
            description="EzyReport SiteMap provider."
            type="System.Web.XmlSiteMapProvider"
            siteMapFile="~/SiteMaps/EzyReport.sitemap"
            securityTrimmingEnabled="true" />
        <add
            name="EzyEnergyXmlSiteMapProvider"
            description="EzyEnergy SiteMap provider."
            type="System.Web.XmlSiteMapProvider"
            siteMapFile="~/SiteMaps/EzyEnergy.sitemap"
            securityTrimmingEnabled="true" />
        <add
            name="EzyCustomerXmlSiteMapProvider"
            description="EzyCustomer SiteMap provider."
            type="System.Web.XmlSiteMapProvider"
            siteMapFile="~/SiteMaps/EzyCustomer.sitemap"
            securityTrimmingEnabled="true" />
        <add
            name="EzyCompetitorXmlSiteMapProvider"
            description="EzyCompetitor SiteMap provider."
            type="System.Web.XmlSiteMapProvider"
            siteMapFile="~/SiteMaps/EzyCompetitor.sitemap"
            securityTrimmingEnabled="true" />
        <add
            name="EzyRevenueXmlSiteMapProvider"
            description="EzyRevenue SiteMap provider."
            type="System.Web.XmlSiteMapProvider"
            siteMapFile="~/SiteMaps/EzyRevenue.sitemap"
            securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors
        mode="Off" />
    <pages
        styleSheetTheme="RockfordTheme"
        enableViewStateMac="false"
        viewStateEncryptionMode="Never"
        controlRenderingCompatibilityVersion="3.5"
        clientIDMode="AutoID">
      <controls>
        <add
            tagPrefix="uc"
            namespace="Planet.Rockford.TimeClock.Web.UI.Controls"
            assembly="Planet.Rockford.TimeClock.Web.UI" />
      </controls>
    </pages>
    <globalization
        culture="en-AU"
        uiCulture="en-AU" />
    <!-- By default, anonymous cannot see anything, and authenticated can see everything -->
    <authorization>
      <deny
          users="?" />
      <allow
          users="*" />
    </authorization>
    <httpHandlers>
      <add
          path="Telerik.ReportViewer.axd"
          verb="*"
          type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=5.1.11.713, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
      <add
          path="ChartImage.axd"
          verb="*"
          type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI"
          validate="false" />
      <add
          path="Telerik.Web.UI.WebResource.axd"
          verb="*"
          type="Telerik.Web.UI.WebResource"
          validate="false" />
      <add
          verb="*"
          path="Reserved.ReportViewerWebControl.axd"
          type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </httpHandlers>
    <!--  The executionTimeout is set to the 'long timeout' sqlCommandTimeout 
        so that IIS doesn't boot the page while the db is still churning. -->
    <httpRuntime
        executionTimeout="5400"
        maxRequestLength="409600"
        maxUrlLength="2097151"
        maxQueryStringLength="2097151"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp
          deliveryMethod="Network"
          from="tranthanhhung82@gmail.com">
        <network
            host="smtp.gmail.com"
            enableSsl="true"
            userName="tranthanhhung82@gmail.com"
            password="loveyou1986"
            port="465" />
      </smtp>
    </mailSettings>
  </system.net>
  <!-- Need this so that the login screen can display images and styles -->
  <location
      path="SiteMaps/Web.sitemap.txt">
    <system.web>
      <authorization>
        <allow
            users="?" />
      </authorization>
    </system.web>
  </location>
  <location
      path="Images/ezySoftwareLogon.gif">
    <system.web>
      <authorization>
        <allow
            users="?" />
      </authorization>
    </system.web>
  </location>
  <location
      path="RecoverPassword.aspx">
    <system.web>
      <authorization>
        <allow
            users="*" />
      </authorization>
    </system.web>
  </location>
  <location
      path="SynergiDataService.svc">
    <system.web>
      <authorization>
        <allow
            users="*" />
      </authorization>
    </system.web>
  </location>
  <location
      path="Services">
    <system.web>
      <authorization>
        <allow
            users="*" />
      </authorization>
    </system.web>
  </location>
  <location
      path="TimeClockDataService.svc">
    <system.web>
      <authorization>
        <allow
            users="?" />
      </authorization>
    </system.web>
  </location>
  <location
      path="TimeClockMembershipService.svc">
    <system.web>
      <authorization>
        <allow
            users="*" />
      </authorization>
    </system.web>
  </location>
  <location
      path="WebResource.axd">
    <system.web>
      <authorization>
        <allow
            users="?" />
      </authorization>
    </system.web>
  </location>
  <location
      path="Images">
    <system.web>
      <authorization>
        <allow
            users="?" />
      </authorization>
    </system.web>
  </location>
  <location
      path="App_Themes">
    <system.web>
      <authorization>
        <allow
            users="?" />
      </authorization>
    </system.web>
  </location>
  <location
      path="RadControls">
    <system.web>
      <authorization>
        <allow
            users="?" />
      </authorization>
    </system.web>
  </location>
  <!-- Now we lock down certain areas of functionality to specific roles -->
  <location
      path="OrganisationAdmin">
    <system.web>
      <authorization>
        <allow
            roles="Organisation Administrator, CF Administrator" />
        <deny
            users="*" />
      </authorization>
    </system.web>
  </location>
  <location
      path="PortalAdmin">
    <system.web>
      <authorization>
        <allow
            roles="Portal Administrator" />
        <deny
            users="*" />
      </authorization>
    </system.web>
  </location>
  <location
      path="SiteAdmin">
    <system.web>
      <authorization>
        <allow
            roles="Organisation Administrator, Site Administrator, Department Manager" />
        <deny
            users="*" />
      </authorization>
    </system.web>
  </location>
  <location
      path="DepartmentManager">
    <system.web>
      <authorization>
        <allow
            roles="Organisation Administrator, Site Administrator, Department Manager" />
        <deny
            users="*" />
      </authorization>
    </system.web>
  </location>
  <location
      path="GeneralUser">
    <system.web>
      <authorization>
        <allow
            roles="Organisation Administrator, Site Administrator, Department Manager, General User" />
        <deny
            users="*" />
      </authorization>
    </system.web>
  </location>
  <location
      path="ClientBin">
    <system.web>
      <authorization>
        <allow
            users="?" />
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32767"/>
      </requestFiltering>
    </security>
    <validation
        validateIntegratedModeConfiguration="false" />
    <handlers>
      <add
          name="Excel-ISAPI"
          path="*.xlsx"
          verb="*"
          modules="IsapiModule"
          scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll"
          resourceType="Unspecified"
          preCondition="classicMode,runtimeVersionv2.0,bitness32" />
      <add
          name="ChartHandler"
          verb="*"
          path="ChartImage.axd"
          type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
      <add
          name="Telerik.Web.UI.WebResource"
          path="Telerik.Web.UI.WebResource.axd"
          verb="*"
          type="Telerik.Web.UI.WebResource, Telerik.Web.UI" />
      <add
          name="ReportViewerWebControlHandler"
          preCondition="integratedMode"
          verb="*"
          path="Reserved.ReportViewerWebControl.axd"
          type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <urlCompression
        doDynamicCompression="true" />
    <modules>
      <add name="RadCompression"
           type="Telerik.Web.UI.RadCompression" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <diagnostics>
      <messageLogging
          logEntireMessage="true"
          logKnownPii="true"
          logMalformedMessages="true"
          logMessagesAtServiceLevel="true"
          logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding
            name="ServicesBinding"
            bypassProxyOnLocal="true"
            maxBufferSize="2147483647"
            maxReceivedMessageSize="2147483647"
            useDefaultWebProxy="false"
          openTimeout="00:10:00"
          closeTimeout="00:10:00"
            sendTimeout="00:10:00"
            receiveTimeout="00:10:00">
          <readerQuotas
              maxStringContentLength="2147483647"
              maxArrayLength="2147483647" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding
            name="Microsoft.Practices.EnterpriseLibrary.Logging.Service.customBinding">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior
            name="Planet.Rockford.TimeClock.Web.UI.TimeClockServicesBehavior">
          <serviceMetadata
              httpGetEnabled="true" />
          <serviceDebug
              includeExceptionDetailInFaults="true" />
          <dataContractSerializer
              maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior
            name="">
          <serviceMetadata
              httpGetEnabled="true" />
          <serviceDebug
              includeExceptionDetailInFaults="false" />
          <dataContractSerializer
              maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service
          behaviorConfiguration="Planet.Rockford.TimeClock.Web.UI.TimeClockServicesBehavior"
          name="Planet.Rockford.TimeClock.Web.UI.Services.AccommodationService">
        <endpoint
            address=""
            binding="basicHttpBinding"
            bindingConfiguration="ServicesBinding"
            contract="Planet.Rockford.TimeClock.Web.UI.Services.AccommodationService" />
        <endpoint
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
      <service
          behaviorConfiguration="Planet.Rockford.TimeClock.Web.UI.TimeClockServicesBehavior"
          name="Planet.Rockford.TimeClock.Web.UI.AwardService">
        <endpoint
            address=""
            binding="basicHttpBinding"
            bindingConfiguration="ServicesBinding"
            contract="Planet.Rockford.TimeClock.Web.UI.AwardService" />
        <endpoint
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
      <service
          behaviorConfiguration="Planet.Rockford.TimeClock.Web.UI.TimeClockServicesBehavior"
          name="Planet.Rockford.TimeClock.Web.UI.Services.BudgetService">
        <endpoint
            address=""
            binding="basicHttpBinding"
            bindingConfiguration="ServicesBinding"
            contract="Planet.Rockford.TimeClock.Web.UI.Services.BudgetService" />
        <endpoint
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
      <service
          behaviorConfiguration="Planet.Rockford.TimeClock.Web.UI.TimeClockServicesBehavior"
          name="Planet.Rockford.TimeClock.Web.UI.Services.CustomerService">
        <endpoint
            address=""
            binding="basicHttpBinding"
            bindingConfiguration="ServicesBinding"
            contract="Planet.Rockford.TimeClock.Web.UI.Services.CustomerService" />
        <endpoint
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
      <service
          behaviorConfiguration="Planet.Rockford.TimeClock.Web.UI.TimeClockServicesBehavior"
          name="Planet.Rockford.TimeClock.Web.UI.Services.DashboardService">
        <endpoint
            address=""
            binding="basicHttpBinding"
            bindingConfiguration="ServicesBinding"
            contract="Planet.Rockford.TimeClock.Web.UI.Services.DashboardService" />
        <endpoint
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
      <service
          behaviorConfiguration="Planet.Rockford.TimeClock.Web.UI.TimeClockServicesBehavior"
          name="Planet.Rockford.TimeClock.Web.UI.Services.EmployeeService">
        <endpoint
            address=""
            binding="basicHttpBinding"
            bindingConfiguration="ServicesBinding"
            contract="Planet.Rockford.TimeClock.Web.UI.Services.EmployeeService" />
        <endpoint
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
      <service
          behaviorConfiguration="Planet.Rockford.TimeClock.Web.UI.TimeClockServicesBehavior"
          name="Planet.Rockford.TimeClock.Web.UI.Services.ExchangeService">
        <endpoint
            address=""
            binding="basicHttpBinding"
            bindingConfiguration="ServicesBinding"
            contract="Planet.Rockford.TimeClock.Web.UI.Services.ExchangeService" />
        <endpoint
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
      <service
          behaviorConfiguration="Planet.Rockford.TimeClock.Web.UI.TimeClockServicesBehavior"
          name="Planet.Rockford.TimeClock.Web.UI.Services.MailService">
        <endpoint
            address=""
            binding="basicHttpBinding"
            bindingConfiguration="ServicesBinding"
            contract="Planet.Rockford.TimeClock.Web.UI.Services.MailService" />
        <endpoint
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
      <service
          behaviorConfiguration="Planet.Rockford.TimeClock.Web.UI.TimeClockServicesBehavior"
          name="Planet.Rockford.TimeClock.Web.UI.Services.OrganisationService">
        <endpoint
            address=""
            binding="basicHttpBinding"
            bindingConfiguration="ServicesBinding"
            contract="Planet.Rockford.TimeClock.Web.UI.Services.OrganisationService" />
        <endpoint
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
      <service
        behaviorConfiguration="Planet.Rockford.TimeClock.Web.UI.TimeClockServicesBehavior"
        name="Telerik.Reporting.Service.ReportService">
        <endpoint
          address=""
          binding="basicHttpBinding"
          bindingConfiguration="ServicesBinding"
          contract="Telerik.Reporting.Service.IReportService" />
        <endpoint
          address="mex"
          binding="mexHttpsBinding"
          contract="IMetadataExchange" />
      </service>
      <service
        behaviorConfiguration="Planet.Rockford.TimeClock.Web.UI.TimeClockServicesBehavior"
        name="Planet.Rockford.TimeClock.Web.UI.Services.SaleService">
        <endpoint
            address=""
            binding="basicHttpBinding"
            bindingConfiguration="ServicesBinding"
            contract="Planet.Rockford.TimeClock.Web.UI.Services.SaleService" />
        <endpoint
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
      <service
          behaviorConfiguration="Planet.Rockford.TimeClock.Web.UI.TimeClockServicesBehavior"
          name="Planet.Rockford.TimeClock.Web.UI.Services.SiteService">
        <endpoint
            address=""
            binding="basicHttpBinding"
            bindingConfiguration="ServicesBinding"
            contract="Planet.Rockford.TimeClock.Web.UI.Services.SiteService" />
        <endpoint
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
      <service
          behaviorConfiguration="Planet.Rockford.TimeClock.Web.UI.TimeClockServicesBehavior"
          name="Synergi.DataService">
        <endpoint
            address=""
            binding="basicHttpBinding"
            bindingConfiguration="ServicesBinding"
            contract="Planet.Rockford.TimeClock.Web.UI.ISynergiDataService" />
        <endpoint
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
      <service
          behaviorConfiguration="Planet.Rockford.TimeClock.Web.UI.TimeClockServicesBehavior"
          name="Planet.Rockford.TimeClock.Web.UI.Services.TimeCardService">
        <endpoint
            address=""
            binding="basicHttpBinding"
            bindingConfiguration="ServicesBinding"
            contract="Planet.Rockford.TimeClock.Web.UI.Services.TimeCardService" />
        <endpoint
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
      <service
          behaviorConfiguration="Planet.Rockford.TimeClock.Web.UI.TimeClockServicesBehavior"
          name="Planet.Rockford.TimeClock.Web.UI.TimeClockDataService">
        <endpoint
            address=""
            binding="basicHttpBinding"
            bindingConfiguration="ServicesBinding"
            contract="Planet.Rockford.TimeClock.Web.UI.TimeClockDataService" />
        <endpoint
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
      <service
          behaviorConfiguration="Planet.Rockford.TimeClock.Web.UI.TimeClockServicesBehavior"
          name="Planet.Rockford.TimeClock.Web.UI.TimeClockMembershipService">
        <endpoint
            address=""
            binding="basicHttpBinding"
            bindingConfiguration="ServicesBinding"
            contract="Planet.Rockford.TimeClock.Web.UI.TimeClockMembershipService" />
        <endpoint
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
      <service
          behaviorConfiguration="Planet.Rockford.TimeClock.Web.UI.TimeClockServicesBehavior"
          name="Planet.Rockford.TimeClock.Web.UI.Services.RoomService">
        <endpoint
            address=""
            binding="basicHttpBinding"
            bindingConfiguration="ServicesBinding"
            contract="Planet.Rockford.TimeClock.Web.UI.Services.RoomService" />
        <endpoint
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
      <service
          behaviorConfiguration="Planet.Rockford.TimeClock.Web.UI.TimeClockServicesBehavior"
          name="Planet.Rockford.TimeClock.Web.UI.Services.YieldService">
        <endpoint
            address=""
            binding="basicHttpBinding"
            bindingConfiguration="ServicesBinding"
            contract="Planet.Rockford.TimeClock.Web.UI.Services.YieldService" />
        <endpoint
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
      <service
          name="Microsoft.Practices.EnterpriseLibrary.Logging.Service.LoggingService">
        <endpoint
            address=""
            binding="customBinding"
            bindingConfiguration="Microsoft.Practices.EnterpriseLibrary.Logging.Service.customBinding"
            contract="Microsoft.Practices.EnterpriseLibrary.Logging.Service.ILoggingService" />
      </service>
      <service
          behaviorConfiguration="Planet.Rockford.TimeClock.Web.UI.TimeClockServicesBehavior"
          name="Planet.Rockford.TimeClock.Web.UI.Services.PublisherService">
        <endpoint
            address=""
            binding="basicHttpBinding"
            bindingConfiguration="ServicesBinding"
            contract="Planet.Rockford.TimeClock.Web.UI.Services.PublisherService" />
        <endpoint
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
    </services>
    <serviceHostingEnvironment
        aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
